[general]
log-file : /tmp/stm-server.log
log-level : 10
hostname : 192.168.10.10
port : 8765
pause-threshold : 900

[lars]
Monday : 3.0
Tuesday : 3.0
Wednesday : 3.0
Thursday : 3.0
Friday : 0.3
Saturday : 0.0
Sunday : 0.0

[kasper]
Monday : 3.0
Tuesday : 1.5
Wednesday : 3.0
Thursday : 1.5
Friday : 5.0
Saturday : 0.0
Sunday : 0.0
