[general]
log-file : c:\temp\stm-client.log
log-level : 10
stm-server-uri : ws://192.168.10.10:8765
sleep-time-seconds : 30  # How often should the client poll the server?
monitor-update-interval : 30  # How often should the monitor poll the server?
warn-time-seconds : 1200  # How many seconds before shutdown should Windows pop up a warning?
icon-path : c:\temp\test.ico  # Not in use just now
use-ms-account : True  # Use MS account name or just the plain Windows user name?
